@import '~bootstrap/scss/bootstrap';

.editor {
    box-shadow: none;
    outline: none;
    padding: 1em;
    @extend .text-light;
    @extend .bg-dark;
}

.previewer {
    padding: 1em;
    word-wrap:break-word;
    img {
        @extend .img-fluid;
    };
    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
        :before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: 0.1em;
            margin-right: 0.25em;
            vertical-align: -0.4em;
        };
        p {
            display: inline;
        };

    };
    table {
        @extend .table;
    };
}
